<!doctype html>
<html lang="fr">

    <%- include('partials/header') %>

    <main id="details">
      <div class="catalog">
        <img src="/img/catalogBackground.jpg" alt="">
      </div>


      <div class="products container">

        <article class="product container">
          <h3 class="product name"><%= coffee.name %></h3>
          <img class="product img" src="/img/coffees/<%= coffee.reference %>.png" alt="">
          <div class="product origin">Origine : <span><%= coffee.origin %></span></div>
          <div class="product spec">Caractéristique principale : <span><%= coffee.spec %></span></div>
          <p class="product desc">Description : <span><%= coffee.description %></span></p>
          <div class="product price">Prix au Kilo : <span><%= coffee.price %>€</span></div>
          <div class="product available">Disponible : <span><%= coffee.available %></span></div>
        </article>
          
      </div>
      <div class="button-container">
        <a class="products button" href="/catalogue">Catalogue</a>
      </div>
    </main>

    <footer>
      <%- include('partials/footer') %>
    </footer>

    <script defer src="/scripts/menu.js" ></script>
    <script defer src="/scripts/displayProducts.js" ></script>
  </body>


</html>
