<%- include('partials/header') %>

<%- include('partials/nav') %>

    <!-- Corps de la page -->
    <main class="quiz-page">
      <h1 class="quiz__title"><%= quiz.title %></h1>
      <h1>
        Theme(s) :
        <% for( let tagsIndex = 0; tagsIndex < quiz.tags.length; tagsIndex++ ) { %>
          <%= quiz.tags[tagsIndex].name %>
        <% } %>
        </h1>

      <p>
        <%= quiz.description %>
      </p>
      <% const date = new Date(quiz.user.created_at) %>
      <p>Par <span><%= quiz.user.firstname %> <%= quiz.user.lastname.toUpperCase() %></span>, le <%= date.toLocaleDateString() %></p>


      <% for( let index = 0; index < quiz.questions.length; index++ ) { %>
           <!-- Question -->
           <fieldset>
            <legend><%= quiz.questions[index].description %></legend>
            <!-- Réponse -->
            <% for( let i = 0; i < quiz.questions[index].answers.length; i++ ) { %>
              <div>
                <input
                  type="radio"
                  name="question<%= index %>"
                  id="answer<%= i %>" />
                <label for="answer<%= i %>"><%= quiz.questions[index].answers[i].description %></label>
              </div>
            <% } %>
            
  
            <p class="quiz-anecdote">
              <%= quiz.questions[index].anecdote %>
            </p>
            <p class="quiz-anecdote">
              Difficulte :
              <%= quiz.questions[index].level.name %>
            </p>
          </fieldset>
      <% } %>
      <form action="">
   
      

        <button type="submit">Soumettre le formulaire</button>
      </form>
    </main>


<%- include('partials/footer') %>